/* CUSTOM VARIABLES */

//negative margins
$enable-negative-margins: true;

//colors
$primary: #00a550;
$secondary: #cab93e;

/* FUNCTIONS AND VARIABLES */
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
    "primary-dark": #00652E,
    "tertiary": #17707e,
    "grey": #eeeeee,
    "black": #1e1e1e,
    "red": #e04f5f,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);


/* BOOTSTRAP */
@import '../node_modules/bootstrap/scss/bootstrap';

/* CUSTOM CSS */
//Global
.logo {
    max-width: 200px;
}
.nav-link {
    &::after {
        margin-left: 10px;
    }
}
.multiline-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap; /* let the text wrap preserving spaces */
}
.article--description {
    font-size: .9rem;
    .article--description__link{
        max-width: 250px;
    }
}
.icon-link--rounded {
    width: 24px;
    height: 24px;
}
.search-modal {
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    > div {
        width: 100%;
        max-width: 900px;
    }
}
//header
header {
    .container {
        max-width: none;        
    }
}
.hero {
    height: 600px;
    &.hero-home {
        background: url('../assets/hero-home.jpg');        
        background-size: cover;
        background-position: bottom;
    }
    &.hero-recherche {
        background: url('../assets/hero-recherche.jpg');        
        background-size: cover;
        background-position: bottom;
    }
}
.form-container {
    height: 250px;
    .form-search--container {
        .form-search {
            .form-control {
                background: none;
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    color: white;
                    font-size: 2.5rem;
                    line-height: 5rem;
                    font-weight: bold;
                }
            }
        }
    }
}
//main
main {
    //Specific
    
    .univers-biblio {
        section {
            .article-home {
                img {
                }
                .article--tag {
                    font-size: .7rem;
                }
            }  
        }
    }
    .abonnement-thematiques, .bibliotheque {
        section {
            .article-home {
                img {
                    max-width: 150px;
                }
                .article--description {
                    .article--description__content {
                        p {
                            &:last-of-type {
                                max-width: 250px;
                            }
                        }
                    }
                }
            }
        }
    }
}

//footer
footer {
    
}