/* CUSTOM VARIABLES */

//negative margins
$enable-negative-margins: true;

//colors
$primary: #00a550;
$secondary: #cab93e;

/* FUNCTIONS AND VARIABLES */
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
    "primary-dark": #00652E,
    "tertiary": #17707e,
    "grey": #eeeeee
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);


/* BOOTSTRAP */
@import '../node_modules/bootstrap/scss/bootstrap';

/* CUSTOM CSS */
.logo {
    max-width: 200px;
}
//header
header {
    .container {
        max-width: none;
        .dropdown {
            .nav-link {
                &::after {
                    margin-left: 10px;
                }
            }
        }
    }
}
.hero {
    height: 600px;
    background: url('../assets/hero-img.jpg');
    background-size: cover;
    background-position: bottom;
}
.form-container {
    height: 250px;
    .form-search--container {
        .form-search {
            .form-control {
                background: none;
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    color: white;
                    font-size: 2.5rem;
                    line-height: 5rem;
                    font-weight: bold;
                }
            }
        }
    }
}
//main
main {

    //Global
    
    .multiline-ellipsis {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
        white-space: pre-wrap; /* let the text wrap preserving spaces */
    }
    .article--description {
        font-size: .9rem;
        .article--description__link{
            max-width: 250px;
        }

    }
    //Specific
    .embed-responsive {
        
    }
    
    .univers-biblio {
        section {
            .article-home {
                img {
                }
                .article--tag {
                    font-size: .7rem;
                }
            }  
        }
    }
    .abonnement-thematiques, .bibliotheque {
        section {
            .article-home {
                img {
                    max-width: 150px;
                }
                .article--description {
                    .article--description__content {
                        p {
                            &:last-of-type {
                                max-width: 250px;
                            }
                        }
                    }
                }
            }
        }
    }
}

//footer
footer {
    
}